# Schließt die von Foundry generierten Ordner aus
out/
cache/
artifacts/

# Schließt Abhängigkeiten aus
lib/
node_modules/

# Schließt sensible Daten aus (wichtig für später!)
.env
.secret

# Schließt Deployment-Logs aus
broadcast/

# System- und Editor-Dateien
.vscode/
.DS_Store
*.log